.jumbotron-container {
    background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('../../Assets/48F39987-7E06-4896-BF77-7F0FB7C4295A_1_105_c.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    height: 10rem;
}

@media screen and (max-width: 37.5rem) {
    .jumbotron-container {
        height: auto;
    }
}

.jumbotron-elements h1 {
    font-weight: 700;
}