.about-container {
    margin-bottom: 1rem;
}

.bio-container {
    text-align: left;
    margin: auto 5rem 1rem 5rem;
    display: table;
}

.bio-container p {
    margin-top: 1rem;
}

.randi-image {
    float: left;
    margin-right: 1rem;
    border-radius: 4rem;
}

@media screen and (max-width: 31.25rem) {
    .bio-container {
        margin: auto 2rem 1rem 2rem;
    }
    .bio-container p {
        margin-top: 0;
    }
    .randi-image {
        float: none;
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.button-link {
    width: 14rem;
    border-radius: 1rem;
    background-color: #55bba3;
    font-weight: 700;
    padding: .5rem 1rem .5rem 1rem;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
}