.HomePage {
    background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../Assets/48F39987-7E06-4896-BF77-7F0FB7C4295A_1_105_c.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    height: auto;
    padding-bottom: 2rem;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.HomePage-Button-Link {
    width: 12rem;
    border-radius: 4px;
    padding: .65rem 2rem;
    background-color: #5bc9afa7;
    color: #ffffff;
    font-weight: 600;
    transition: .1s;
    margin-right: 2.22rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
