.homePage {
    background-image: url(../Assets/48F39987-7E06-4896-BF77-7F0FB7C4295A_1_105_c.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    height: 40rem;
}

.ButtonContainers {
    display: flex;
    justify-content: center;
}

.HomePage-Button-Link {
    border-radius: 4px;
    padding: .65rem 2rem;
    background-color: #5bc9af;
    color: #ffffff;
    font-weight: 600;
    transition: .5s;
    margin-right: 2.22rem;
    margin-bottom: 1.5rem;
}
