.editorials-container {
    width: 100%;
    height: auto;
}

.passages-container {
    margin: auto;
    width: 75%;
    border-bottom: .15rem solid grey;
    padding: 10px;
}

.ninth-container {
    margin: auto;
    width: 75%; 
    padding: 10px;
}

#passages-links {
    padding-bottom: .5rem;
}

@media screen and (max-width: 37.5rem) {
    .passages-container {
        width: 90%;
    }
    .ninth-container {
        width: 90%;
    }
}

@media screen and (max-width: 31.875rem) {
    #title-tag {
        font-size: 2rem;
    }
}